@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

.custom-scrollbar-x {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb #f3f4f6; /* thumb, track */
}
.custom-scrollbar-x::-webkit-scrollbar {
  height: 6px;
}
.custom-scrollbar-x::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 6px;
}
.custom-scrollbar-x::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 6px;
}
@media (prefers-color-scheme: dark) {
  .custom-scrollbar-x {
    scrollbar-color: #262626 #191919;
  }
  .custom-scrollbar-x::-webkit-scrollbar-thumb {
    background: #262626;
  }
  .custom-scrollbar-x::-webkit-scrollbar-track {
    background: #191919;
  }
}
